*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #000;
    font-family: "Martian Mono", monospace;
}

button {
    width: 75px;
    height: 75px;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    color: inherit; 
    background-color: transparent;
    cursor: pointer;
}

.calculator {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 340px;
}

.row {
    display: flex;
    align-items: center;
    gap: 5px;
}

.empty {
    cursor: auto;
}

.val {
    background-color: #212121;
}

.val:hover {
    background-color: #4e4e4e;
}

.operator {
    background-color: #fabf2b;
}

.operator:hover {
    background-color: #fed366;
}



