*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #000;
    font-family: "Victor Mono", monospace;
    font-size: 18px;
}

.calculator {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 315px;
}

.row {
    display: flex;
    align-items: center;
    gap: 5px;
}

.display {
    display: flex;
    justify-content: end;
    width: 100%;
    padding: 0 10px;
    margin-bottom: 20px;
    font-size: 2.618rem;
}

.btn {
    width: 75px;
    height: 75px;
    border: none;
    border-radius: 50%;
    font-size: 1.618rem;
    color: inherit; 
    background-color: #212121;
    cursor: pointer;
}

.btn:hover {
    background-color: #4e4e4e;
}

.empty {
    background-color: transparent;
    cursor: auto;
}

.empty:hover {
    background-color: transparent;
}

.utility {
    background-color: #434343;
}

.operator,
.equal {
    background-color: #fabf2b;
}

.operator:hover,
.equal:hover {
    background-color: #fed366;
}



